<template>
  <auth-change-password :password-id="$route.params.password_id" />
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  auth: false,
  beforeCreate() {
    if (
      this.$auth.loggedIn === false &&
      this.$route.params.password_id === undefined
    ) {
      this.$router.push({ name: "login" });
    }
  },
});
</script>
