<template>
  <p class="text-sm font-normal" :class="stylesBySeverityLevel">
    <slot name="icon">
      <component :is="iconNameBySeverityLevel" aria-hidden="true" />
    </slot>
    <slot />
  </p>
</template>

<script lang="ts">
import Vue, { PropOptions } from "vue";
import { toRefs } from "@nuxtjs/composition-api";
import type { Ref } from "@nuxtjs/composition-api";

// @ts-ignore
import CheckCircle from "~/assets/icons/CheckCircle.svg?inline";
// @ts-ignore
import ExclamationCircle from "~/assets/icons/ExclamationCircle.svg?inline";
// @ts-ignore
import ExclamationTriangle from "~/assets/icons/ExclamationTriangle.svg?inline";
// @ts-ignore
import InformationCircle from "~/assets/icons/InformationCircle.svg?inline";
// @ts-ignore
import XCircle from "~/assets/icons/XCircle.svg?inline";
import { useSeverityLevel, SeverityLevel } from "~/composables/SeverityLevel";

export default Vue.extend({
  name: "BcHint",
  components: {
    CheckCircle,
    ExclamationCircle,
    ExclamationTriangle,
    InformationCircle,
    XCircle,
  },
  props: {
    type: {
      type: String,
      default: SeverityLevel.default,
    } as PropOptions<SeverityLevel>,
  },
  setup(props) {
    const { type } = toRefs(props);
    const { iconNameBySeverityLevel, stylesBySeverityLevel } = useSeverityLevel(
      type as Ref<SeverityLevel>
    );

    return {
      iconNameBySeverityLevel,
      stylesBySeverityLevel,
    };
  },
});
</script>

<style scoped>
svg {
  @apply inline h-5 w-5 stroke-current stroke-2 pr-1 align-top;
}
.error {
  @apply text-rose-500;
}
.info {
  @apply text-sky-600;
}
.success {
  @apply text-green-500;
}
.warning {
  @apply text-amber-500;
}
</style>
