<template>
  <fieldset class="mt-4">
    <bc-label class="pl-px" for="username"> Username </bc-label>

    <validation-provider
      v-slot="state"
      name="Username"
      rules="alpha_dash|min:5|required"
    >
      <bc-input
        id="username"
        data-testid="username"
        :value="value"
        class="my-2"
        placeholder="Username"
        required
        :errored="state.touched && state.invalid"
        @input="$emit('input', $event)"
      />

      <div class="h-[22px]">
        <bc-hint v-if="state.touched && state.invalid" class="pl-1">
          {{ state.errors[0] }}
        </bc-hint>
      </div>
    </validation-provider>
  </fieldset>
</template>

<script lang="ts">
import Vue from "vue";
import { ValidationProvider } from "vee-validate";

export default Vue.extend({
  components: {
    ValidationProvider,
  },
  props: {
    value: {
      type: String,
      required: true,
    },
  },
});
</script>
