<template>
  <div class="flex h-full w-full justify-center p-6">
    <div class="w-1/2">
      <bc-heading type="h1">Dashboard</bc-heading>
      <div class="my-4">
        <bc-button small @click="onClick">api call</bc-button>
        <bc-button small @click="$auth.logout()">logout</bc-button>
      </div>

      <div class="my-4">
        <nuxt-link :to="{ name: 'subscriptions' }"
          >shop subscriptions</nuxt-link
        >
      </div>

      <div class="my-4">resp: {{ resp }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data: () => ({
    resp: null as unknown,
  }),
  methods: {
    async onClick() {
      try {
        this.resp = (await this.$axios.get("/check")).data;
      } catch (e) {
        this.resp = e;
      }
    },
  },
});
</script>
