<template>
  <auth-login v-if="!showMFA" @mfa-event="handleMfaLogin" />
  <mfa-login-form v-else :data="loginCred" />
</template>

<script lang="ts">
import Vue from "vue";
import { LoginForm } from "~/types/auth";

export default Vue.extend({
  auth: "guest",
  data: () => ({
    showMFA: false,
    loginCred: {} as LoginForm,
  }),
  methods: {
    handleMfaLogin(data: LoginForm) {
      this.showMFA = true;
      this.loginCred = data;
      this.$wait.end("load mfa");
    },
  },
});
</script>
