<template>
  <div>
    <mfa-recovery-code-modal
      :codes="recoveryCodes"
      @error="errors.clipBoard = true"
    />

    <bc-alert
      v-if="displayAlert"
      class="mx-auto mt-4 w-6/12"
      :type="alert.type"
    >
      {{ alert.copy }}
    </bc-alert>

    <mfa-disable-form v-if="is2faEnabled" @error="errors.disable2fa = $event" />
    <mfa-enable-form
      v-else
      :uri="uri"
      @error="errors.enable2fa = $event"
      @done="displayRecoveryCodes()"
    />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { SeverityLevel } from "~/composables/SeverityLevel";

export default Vue.extend({
  data: () => ({
    displayAlert: false,
    uri: "",
    recoveryCodes: [] as string[],
    alert: {
      type: SeverityLevel.default as SeverityLevel,
      copy: "",
    },
    errors: {
      clipBoard: false,
      disable2fa: false,
      enable2fa: false,
      recovery: false,
      setup: false,
    },
  }),
  computed: {
    is2faEnabled(): boolean {
      return this.$auth.user?.enable_2fa === true;
    },
  },
  watch: {
    errors: {
      deep: true,
      handler() {
        const { clipBoard, disable2fa, enable2fa, recovery, setup } =
          this.errors;
        if (clipBoard || recovery) {
          if (clipBoard) {
            this.alert.copy =
              "Issues copying to your clipboard, please try again.";
          } else {
            this.alert.copy =
              "We're experiencing issues getting your recovery codes. Please reload the page.";
          }
          this.alert.type = SeverityLevel.warning;
          this.displayAlert = true;
        } else if (enable2fa || setup || disable2fa) {
          if (enable2fa) {
            this.alert.copy = "Invalid two-factor authentication code.";
          } else if (setup) {
            this.alert.copy =
              "We're experiencing issues loading the 2fa QR code. Please reload the page.";
          } else {
            this.alert.copy = "Error disabling 2FA, please try again.";
          }
          this.alert.type = SeverityLevel.error;
          this.displayAlert = true;
        }
      },
    },
  },
  async mounted() {
    if (!this.is2faEnabled) {
      try {
        this.$wait.start("generate qrcode");
        const resp = await this.$axios.post("/generate_totp_url");
        this.uri = resp.data.ok;
      } catch {
        this.errors.setup = true;
      } finally {
        this.$wait.end("generate qrcode");
      }
    }
  },
  methods: {
    async displayRecoveryCodes() {
      try {
        const res = await this.$axios.post("/generate_recovery_codes");
        this.recoveryCodes = res.data.ok;
        this.$modal.show("recoveryCodeModal");
      } catch {
        this.errors.recovery = true;
      }
    },
  },
});
</script>
