<template>
  <bc-modal
    data-testid="recoveryCodeModal"
    name="recoveryCodeModal"
    @closed="onClosed()"
  >
    <template #header> Two-factor Authentication Recovery Codes </template>

    <p>
      <b>Important</b>: Please make sure you save the recovery codes. Otherwise
      you can permanently lose access to your account if you lose your
      two-factor authentication device.
      <br />
      If you lose your two-factor-enabled device, these codes can be used
      instead of the 6-digit two-factor authentication code to log into your
      account. Each code can only be used once.
    </p>

    <ul class="mt-4 text-center">
      <li v-for="(code, index) in codes" :key="index">{{ code }}</li>
    </ul>

    <template #footer>
      <bc-button
        data-testid="closeBtn"
        outline
        @click="$modal.hide('recoveryCodeModal')"
        >Close</bc-button
      >
      <bc-button data-testid="copyBtn" @click="copyToClipboard()"
        >Copy</bc-button
      >
    </template>
  </bc-modal>
</template>

<script lang="ts">
import Vue, { PropOptions } from "vue";

export default Vue.extend({
  name: "MfaRecoveryCodeModal",
  props: {
    codes: {
      type: Array,
      default: () => [],
    } as PropOptions<String[]>,
  },
  methods: {
    async copyToClipboard() {
      try {
        await navigator.clipboard.writeText(this.codes.join("\n"));
      } catch {
        this.$emit("error");
      }
    },
    async onClosed() {
      try {
        await this.$auth.fetchUser();
      } catch {
        location.reload();
      }
    },
  },
});
</script>
