<template>
  <auth-confirm
    :is-error="isError"
    :is-success="isSuccess"
    :logged-in="$auth.loggedIn"
  />
</template>

<script lang="ts">
import Vue from "vue";

interface ConfirmForm {
  confirm_id: String;
}

export default Vue.extend({
  auth: false,
  data: () => ({
    isError: false,
    isSuccess: false,
  }),
  async created() {
    try {
      const confirmId: string | undefined = this.$route.params.confirm_id;
      if (confirmId === undefined) {
        this.$router.push({ name: "login" });
      } else {
        await this.$axios.post(this.$config.confirmUrl, {
          confirm_id: confirmId,
        } as ConfirmForm);
        this.isSuccess = true;
      }
    } catch (e) {
      this.isError = true;
    }
  },
});
</script>
