<template>
  <div class="mt-6 flex h-full w-full justify-center">
    <div class="w-6/12">
      <ValidationObserver v-slot="{ invalid, reset }">
        <form
          @submit.prevent="
            onSubmit(code);
            reset();
          "
        >
          <div class="mb-4 lg:mb-0">
            <bc-heading type="h1" class="pt-4 text-center md:pt-0 md:text-left">
              Register Two-Factor Authenticator
              <template #subtitle>
                Use a one-time password authenticator on your mobile device or
                computer to enable two-factor authentication.
                <br />
              </template>
            </bc-heading>
          </div>

          <fieldset class="mt-4">
            <div class="my-5 mb-6 flex">
              <!-- <canvas ref="canvas" class="mr-4"></canvas> -->
              <Qrcode :value="uri" size="200" class="mr-4" />

              <div class="border-2 p-4">
                <div>
                  <bc-heading type="h2" class="text-lg font-semibold"
                    >Can't scan the code?</bc-heading
                  >
                  <div>
                    To add the entry manually, provide the following details to
                    the application on your phone.

                    <ul class="p-2">
                      <li>
                        secret/seed:
                        <span
                          v-for="part in secret"
                          :key="part"
                          class="mr-1 bg-gray-200 px-1"
                          >{{ part }}</span
                        >
                      </li>
                      <li>issuer: {{ issuer }}</li>
                      <li>algorithm: SHA1</li>
                      <li>type: time based</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <bc-label class="pl-px" for="code">
              Two-factor authentication code
            </bc-label>

            <ValidationProvider
              v-slot="state"
              name="Code"
              rules="required|digits:6"
            >
              <bc-input
                id="code"
                v-model="code"
                data-testid="code"
                class="my-2"
                placeholder="Code"
                required
                minlength="6"
                maxlength="6"
                :errored="state.touched && state.invalid"
              />

              <div class="h-[22px]">
                <bc-hint v-if="state.touched && state.invalid" class="pl-1">
                  {{ state.errors[0] }}
                </bc-hint>
              </div>
            </ValidationProvider>
          </fieldset>

          <div class="flex flex-row-reverse">
            <bc-button
              data-testid="submit"
              :outline="invalid"
              :disabled="invalid"
              class="mb-4 flex-auto md:mb-0 lg:flex-initial"
              type="submit"
            >
              Register with two-factor app
            </bc-button>
          </div>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Qrcode from "qrcode.vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";

export default Vue.extend({
  name: "MfaDashboard",
  components: {
    Qrcode,
    ValidationProvider,
    ValidationObserver,
  },
  props: {
    uri: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    code: "",
  }),
  computed: {
    issuer(): string {
      try {
        const url = new URL(this.uri);
        return url.searchParams.get("issuer") ?? "N/A";
      } catch {
        return "N/A";
      }
    },
    secret(): string[] {
      try {
        const url = new URL(this.uri ?? "");
        return url.searchParams.get("secret")?.match(/.{4}/g) ?? ["N/A"];
      } catch {
        return ["N/A"];
      }
    },
  },
  methods: {
    async onSubmit(code: string) {
      try {
        this.$wait.start("enable 2fa");
        this.$emit("error", false);
        await this.$axios.post("/enable_2fa", { code });
        this.$emit("done");
      } catch {
        this.$emit("error", true);
      } finally {
        this.$wait.end("enable 2fa");
      }
      this.code = "";
    },
  },
});
</script>
