<template>
  <div class="flex h-full w-full justify-center p-6">
    <div class="w-6/12">
      <bc-alert v-if="isError" type="error">
        {{ errorMsg }}
      </bc-alert>

      <ValidationObserver v-slot="{ invalid }">
        <form @submit.prevent="onSubmit(form)">
          <div class="mb-4 lg:mb-0">
            <bc-heading type="h1" class="pt-4 text-center md:pt-0 md:text-left">
              Register for an account
              <template #subtitle>
                <span class="block text-center md:text-left">
                  Already have an account?
                  <nuxt-link class="font-normal" :to="{ name: 'login' }"
                    >Login now</nuxt-link
                  >
                </span>
              </template>
            </bc-heading>
          </div>

          <auth-username-input v-model="form.username" />
          <auth-email-input v-model="form.email" />
          <auth-password-input
            :password="form.password"
            :password-confirm="form.password_confirm"
            @password="form.password = $event"
            @password_confirm="form.password_confirm = $event"
          />

          <bc-button
            data-testid="submit"
            :outline="invalid || isLoading"
            :disabled="invalid || isLoading"
            class="mb-4 flex-auto md:mb-0 lg:flex-initial"
            type="submit"
          >
            Submit
          </bc-button>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ref } from "@nuxtjs/composition-api";
import { ValidationObserver } from "vee-validate";
import useErrorMsg from "~/composables/ErrorMsg";

import type { RegisterForm } from "~/types/auth";

export default Vue.extend({
  name: "AuthRegister",
  components: {
    ValidationObserver,
  },
  setup() {
    const error = ref({});
    const { errorMsg } = useErrorMsg(error);

    return {
      error,
      errorMsg,
    };
  },
  data: () => ({
    form: {
      username: "",
      email: "",
      password: "",
      password_confirm: "",
    } as RegisterForm,
    isError: false,
    isLoading: false,
  }),
  methods: {
    async onSubmit(data: RegisterForm) {
      try {
        const resp = await this.$axios.post(this.$config.registerUrl, data);
        await this.$auth.setUserToken(
          resp.data.ok.access_token,
          resp.data.ok.refresh_token
        );
      } catch (e: any) {
        // @ts-ignore
        this.error = e;
        this.isError = true;
      }
      this.isLoading = false;
    },
  },
});
</script>
