<template>
  <div
    class="flex rounded p-4 text-base font-semibold text-slate-900"
    :class="stylesBySeverityLevel"
  >
    <slot name="icon">
      <component :is="iconNameBySeverityLevel" aria-hidden="true" />
    </slot>
    <span class="self-center">
      <slot />
    </span>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from "vue";
import { toRefs } from "@nuxtjs/composition-api";
import type { Ref } from "@nuxtjs/composition-api";

// @ts-ignore
import CheckCircle from "~/assets/icons/CheckCircle.svg?inline";
// @ts-ignore
import ExclamationCircle from "~/assets/icons/ExclamationCircle.svg?inline";
// @ts-ignore
import ExclamationTriangle from "~/assets/icons/ExclamationTriangle.svg?inline";
// @ts-ignore
import InformationCircle from "~/assets/icons/InformationCircle.svg?inline";
// @ts-ignore
import XCircle from "~/assets/icons/XCircle.svg?inline";
import { useSeverityLevel, SeverityLevel } from "~/composables/SeverityLevel";

export default Vue.extend({
  name: "BcAlert",
  components: {
    CheckCircle,
    ExclamationCircle,
    ExclamationTriangle,
    InformationCircle,
    XCircle,
  },
  props: {
    type: {
      type: String,
      default: SeverityLevel.default,
    } as PropOptions<SeverityLevel>,
  },
  setup(props) {
    const { type } = toRefs(props);
    const { iconNameBySeverityLevel, stylesBySeverityLevel } = useSeverityLevel(
      type as Ref<SeverityLevel>
    );

    return {
      iconNameBySeverityLevel,
      stylesBySeverityLevel,
    };
  },
});
</script>

<style scoped>
svg {
  @apply inline h-7 w-7 stroke-current stroke-2 pr-1;
}
.default {
  @apply border-[1px] border-slate-300 bg-gray-100;
}
.error {
  @apply bg-rose-500;
}
.info {
  @apply bg-sky-300;
}
.success {
  @apply bg-green-500;
}
.warning {
  @apply bg-amber-500;
}
</style>
