<template>
  <modal
    :name="name"
    adaptive
    focus-trap
    data-testid="modal"
    height="auto"
    @closed="$emit('closed')"
  >
    <div class="flex flex-row-reverse justify-between py-2 pl-4 pr-3">
      <button data-testid="xmark" class="self-start" @click="$modal.hide(name)">
        <XMark stroke="currentColor" class="h-6 w-6 stroke-2" />
      </button>
      <b v-if="$slots.header">
        <slot name="header" />
      </b>
    </div>

    <div class="px-4 py-2">
      <slot />
    </div>

    <div v-if="$slots.footer" class="flex justify-between px-4 pt-2 pb-4">
      <slot name="footer"> </slot>
    </div>
  </modal>
</template>

<script lang="ts">
import Vue from "vue";
// @ts-ignore
import XMark from "~/assets/icons/XMark.svg?inline";

export default Vue.extend({
  name: "BcModal",
  components: {
    XMark,
  },
  props: {
    name: {
      type: String,
      default: "BcModal",
    },
  },
});
</script>
