<template>
  <div class="flex h-full w-full justify-center p-6">
    <div class="w-6/12">
      <bc-alert v-if="isError" type="error">
        {{ errorMsg }}
      </bc-alert>
      <bc-alert v-if="isSuccess" type="success">
        Password has been successfully updated.
      </bc-alert>

      <ValidationObserver v-slot="{ invalid }" ref="formEl">
        <form @submit.prevent="onSubmit">
          <div class="mb-4 lg:mb-0">
            <bc-heading type="h1" class="pt-4 text-center md:pt-0 md:text-left">
              Change Password

              <template #subtitle>
                <span class="block text-center md:text-left">
                  Enter and confirm your new password.
                </span>
              </template>
            </bc-heading>
          </div>

          <auth-password-input
            class="mt-2"
            :password="form.new_password"
            :password-confirm="form.password_confirm"
            @password="form.new_password = $event"
            @password_confirm="form.password_confirm = $event"
          />

          <bc-button
            data-testid="submit"
            :outline="invalid || isLoading"
            :disabled="invalid || isLoading"
            class="mb-4 flex-auto md:mb-0 lg:flex-initial"
            type="submit"
          >
            Submit
          </bc-button>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from "vue";
import { ValidationObserver } from "vee-validate";
import { ref } from "@nuxtjs/composition-api";
import useErrorMsg from "~/composables/ErrorMsg";

interface ChangePasswordForm {
  password_id?: String;
  new_password: String;
  password_confirm: String;
}

export default Vue.extend({
  components: {
    ValidationObserver,
  },
  props: {
    passwordId: {
      type: String,
      validator: (prop) => typeof prop === "string" || prop === undefined,
      default: undefined,
    } as PropOptions<String | undefined>,
  },
  setup() {
    const error = ref({});
    const { errorMsg } = useErrorMsg(error);

    return {
      error,
      errorMsg,
    };
  },
  data: () => ({
    form: {
      new_password: "",
      password_confirm: "",
    },
    isError: false,
    isLoading: false,
    isSuccess: false,
  }),
  methods: {
    async onSubmit() {
      try {
        this.isLoading = true;
        const data: ChangePasswordForm = { ...this.form };
        if (this.passwordId && !this.$auth.loggedIn) {
          data.password_id = this.passwordId;
        }
        await this.$axios.post(this.$config.changePasswordUrl, data);
        this.isSuccess = true;
      } catch (e) {
        // @ts-ignore
        this.error = e;
        this.isError = true;
      }
      this.isLoading = false;

      // Resetting Values
      this.form = {
        new_password: "",
        password_confirm: "",
      };

      this.$nextTick(() => {
        // @ts-ignore
        this.$refs.formEl.reset();
      });
    },
  },
});
</script>
