<template>
  <div class="flex h-full w-full justify-center p-6">
    <div class="w-6/12">
      <mfa-confirm-modal @confirm="disable2fa()" />

      <ValidationObserver>
        <div class="mb-4 lg:mb-0">
          <bc-heading type="h1" class="pt-4 text-center md:pt-0 md:text-left">
            Multi-factor Authentication
          </bc-heading>
        </div>

        <form
          class="mt-4 flex items-center justify-between"
          @submit.prevent="$modal.show('confirmModal')"
        >
          <p class="mb-3 text-lg">
            Current Two-factor authentication status:
            <span class="font-bold text-green-500">Enabled</span>
          </p>

          <div class="flex flex-wrap">
            <bc-button data-testid="submit" small class="mb-4" type="submit">
              Disable 2FA
            </bc-button>
          </div>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ValidationObserver } from "vee-validate";

export default Vue.extend({
  name: "MfaDashboard",
  components: {
    ValidationObserver,
  },
  methods: {
    async disable2fa() {
      try {
        this.$wait.start("disable 2fa");
        this.$emit("error", false);
        await this.$axios.post("/disable_2fa");
        await this.$auth.fetchUser();
      } catch {
        this.$emit("error", true);
      } finally {
        this.$wait.end("disable 2fa");
      }
    },
  },
});
</script>
