<template>
  <div class="flex h-full w-full justify-center p-6">
    <div v-show="isSuccess || isError" class="w-6/12">
      <bc-heading type="h1" class="text-center">
        Account Confirmation
      </bc-heading>

      <p class="py-5 text-center">
        <template v-if="isSuccess">
          You've successfully confirmed your email.<br />
        </template>
        <template v-else-if="isError">
          <span class="text-rose-500"
            >There were issues confirming your account.</span
          ><br />
        </template>

        Go to
        <nuxt-link v-if="!loggedIn" :to="{ name: 'login' }">login</nuxt-link>
        <nuxt-link v-else :to="{ name: 'dashboard' }">dashboard</nuxt-link>.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "AuthConfirm",
  props: {
    isError: {
      type: Boolean,
      default: false,
    },
    isSuccess: {
      type: Boolean,
      default: true,
    },
    loggedIn: {
      type: Boolean,
      default: false,
    },
  },
});
</script>
