<template>
  <nav class="flex w-full justify-between bg-zinc-300 py-4 px-8">
    <template v-if="loggedIn">
      <div class="flex">
        <nuxt-link
          :to="{ name: 'dashboard' }"
          alt="dashboard"
          testid="dashboard"
        >
          <Home
            class="h-full w-7 fill-slate-700 hover:fill-gray-500"
            aria-hidden="true"
          />
        </nuxt-link>
      </div>

      <DropdownMenu
        :overlay="false"
        direction="right"
        with-dropdown-closer
        @opened="icon = 'ChevronUp'"
        @closed="icon = 'ChevronDown'"
      >
        <button slot="trigger" class="flex" data-testid="navDropdownBtn">
          <UserCircle class="h-full w-8 fill-slate-700" aria-hidden="true" />
          <span class="self-center pl-1">Profile</span>
          <component
            :is="icon"
            class="mt-1 h-5 w-6 self-center fill-slate-700 pl-1"
            aria-hidden="true"
          />
        </button>

        <div slot="header" class="border border-2 p-2" data-testid="signedInAs">
          Signed in as <b>{{ username }}</b>
        </div>

        <ul slot="body" data-testid="navDropdownBody">
          <li class="p-2">
            <nuxt-link class="nav-link" dropdown-closer :to="{ name: 'mfa' }">
              Multi-Factor Auth
            </nuxt-link>
          </li>
          <li class="p-2">
            <nuxt-link
              class="nav-link"
              dropdown-closer
              :to="{ name: 'password-reset-password_id' }"
            >
              Change Password
            </nuxt-link>
          </li>
        </ul>

        <bc-button
          slot="footer"
          class="!w-full !rounded-none"
          small
          @click="$auth.logout()"
          >Logout</bc-button
        >
      </DropdownMenu>
    </template>

    <template v-else>
      <nuxt-link :to="{ name: 'index' }" alt="home">
        <Home
          class="h-full w-7 fill-slate-700 hover:fill-gray-500"
          aria-hidden="true"
        />
      </nuxt-link>

      <div v-show="notRegisterOrLoginPage" class="self-end">
        <nuxt-link :to="{ name: 'register' }" class="">
          <bc-button small> Register </bc-button>
        </nuxt-link>

        <nuxt-link :to="{ name: 'login' }" class="">
          <bc-button small outline> Login </bc-button>
        </nuxt-link>
      </div>
    </template>
  </nav>
</template>

<script lang="ts">
import Vue from "vue";
// @ts-ignore
import DropdownMenu from "v-dropdown-menu";
// @ts-ignore
import ChevronDown from "~/assets/icons/ChevronDown.svg?inline";
// @ts-ignore
import ChevronUp from "~/assets/icons/ChevronUp.svg?inline";
// @ts-ignore
import Home from "~/assets/icons/Home.svg?inline";
// @ts-ignore
import UserCircle from "~/assets/icons/UserCircle.svg?inline";

export default Vue.extend({
  name: "BcNav",
  components: {
    ChevronDown,
    ChevronUp,
    DropdownMenu,
    Home,
    UserCircle,
  },
  props: {
    loggedIn: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    icon: "ChevronDown" as "ChevronDown" | "ChevronUp",
  }),
  computed: {
    notRegisterOrLoginPage(): boolean {
      const pageName = this.$route.name;
      return pageName !== "register" && pageName !== "login";
    },
    username() {
      return this.$auth?.user?.username ?? "tester";
    },
  },
});
</script>

<style scoped>
.nav-link {
  @apply self-center font-semibold text-slate-900 hover:text-gray-500 hover:no-underline;
}
.nuxt-link-exact-active {
  @apply text-purple-700;
}
</style>
