<template>
  <div class="flex h-full w-full justify-center p-6">
    <div class="w-6/12">
      <bc-alert v-if="isSuccess || isError" type="success">
        An email with password reset information has been sent to you.
      </bc-alert>

      <ValidationObserver v-slot="{ invalid }">
        <form @submit.prevent="onSubmit({ username })">
          <div class="mb-4 lg:mb-0">
            <bc-heading type="h1" class="pt-4 text-center md:pt-0 md:text-left">
              Reset Your Password

              <template #subtitle>
                <span class="block text-center md:text-left">
                  Enter your account username and we'll help reset your
                  password.
                </span>
              </template>
            </bc-heading>
          </div>

          <auth-username-input v-model="username" />

          <bc-button
            data-testid="submit"
            :outline="invalid || isLoading"
            :disabled="invalid || isLoading"
            class="mb-4 flex-auto md:mb-0 lg:flex-initial"
            type="submit"
          >
            Submit
          </bc-button>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ValidationObserver } from "vee-validate";

export default Vue.extend({
  components: {
    ValidationObserver,
  },
  data: () => ({
    username: "",
    isError: false,
    isSuccess: false,
    isLoading: false,
  }),
  methods: {
    async onSubmit(data: { username: string }) {
      try {
        this.isLoading = true;
        await this.$axios.post(this.$config.resetPasswordUrl, data);
        this.isSuccess = true;
      } catch (e) {
        this.isError = true;
      }
      this.isLoading = false;
    },
  },
});
</script>
