<template>
  <div class="flex h-full w-full justify-center p-6">
    <div class="w-6/12">
      <bc-alert v-if="request.isError" type="error">
        {{ errorMsg }}
      </bc-alert>

      <ValidationObserver v-slot="{ invalid }">
        <form @submit.prevent="onSubmit(form)">
          <div class="mb-4 lg:mb-0">
            <bc-heading type="h1" class="pt-4 text-center md:pt-0 md:text-left">
              Please login to your account
              <template #subtitle>
                <span class="block text-center md:text-left">
                  Don't have an account yet?
                  <nuxt-link class="font-normal" :to="{ name: 'register' }"
                    >Register now</nuxt-link
                  >
                </span>
              </template>
            </bc-heading>
          </div>

          <fieldset class="mt-4">
            <bc-label class="pl-px" for="username"> Username </bc-label>

            <validation-provider
              v-slot="state"
              name="Username"
              rules="required"
            >
              <bc-input
                id="username"
                v-model="form.username"
                data-testid="username"
                class="my-2"
                placeholder="Username"
                required
                :errored="state.touched && state.invalid"
              />

              <div class="h-[22px]">
                <bc-hint v-if="state.touched && state.invalid" class="pl-1">
                  {{ state.errors[0] }}
                </bc-hint>
              </div>
            </validation-provider>
          </fieldset>

          <fieldset class="mb-4">
            <bc-label class="pl-px" for="password"> Password </bc-label>

            <validation-provider
              v-slot="state"
              name="Password"
              rules="required"
            >
              <bc-input
                id="password"
                v-model="form.password"
                data-testid="password"
                class="my-2"
                type="password"
                placeholder="Password"
                required
                :errored="state.touched && state.invalid"
              />

              <div class="h-[22px]">
                <bc-hint v-if="state.touched && state.invalid" class="pl-1">
                  {{ state.errors[0] }}
                </bc-hint>
              </div>
            </validation-provider>
          </fieldset>

          <div class="flex flex-wrap">
            <bc-button
              data-testid="submit"
              :outline="invalid || request.isLoading"
              :disabled="invalid || request.isLoading"
              class="mb-4 flex-auto md:mb-0 lg:flex-initial"
              type="submit"
            >
              Submit
            </bc-button>

            <div class="flex flex-auto justify-center">
              <nuxt-link
                :to="{ name: 'forgot-password' }"
                class="mx-1 self-center"
                >Forgot password?</nuxt-link
              >
              <nuxt-link
                :to="{ name: 'forgot-username' }"
                class="mx-1 self-center"
                >Forgot username?</nuxt-link
              >
            </div>
          </div>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import { ValidationProvider, ValidationObserver } from "vee-validate";

import type { LoginForm } from "~/types/auth";

export default Vue.extend({
  name: "AuthLogin",
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data: () => ({
    form: {
      username: "",
      password: "",
    } as LoginForm,
    request: {
      error: {} as any,
      isError: false,
      isLoading: false,
    },
  }),
  computed: {
    errorMsg(): string {
      const error = this.request.error;
      if (
        axios.isAxiosError(error) &&
        error?.response?.status === this.$config.unauthorizedCode
      ) {
        return "The username and password you specified are invalid. Please try again.";
      }
      return "Unexpected error. Please try again.";
    },
  },
  methods: {
    async onSubmit(data: LoginForm) {
      try {
        this.request.isError = false;
        this.request.isLoading = true;
        this.$wait.start("login");
        const res = await this.$auth.loginWith("localRefresh", { data });
        if (res?.data.ok.two_factor_auth) {
          this.$wait.start("load mfa");
          this.$emit("mfa-event", data);
        }
      } catch (e: any) {
        this.request.error = e;
        this.request.isError = true;
      } finally {
        this.$wait.end("login");
      }
      this.request.isLoading = false;
    },
  },
});
</script>
