<template>
  <bc-modal name="confirmModal">
    <template #header>
      Confirmation for disabling two-factor authentication
    </template>

    <p>
      Disabling Two-factor Authentication removes an extra layer of security to
      prevent malicous users from accessing your account. Do you wish to
      continue with this action?
    </p>

    <template #footer>
      <bc-button
        data-testid="cancelBtn"
        outline
        @click="$modal.hide('confrimModal')"
        >Cancel</bc-button
      >
      <bc-button data-testid="confirmBtn" @click="onConfirm()"
        >Continue</bc-button
      >
    </template>
  </bc-modal>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "MfaConfirmModal",
  methods: {
    onConfirm() {
      this.$emit("confirm");
      this.$modal.hide("confirmModal");
    },
  },
});
</script>
