<template>
  <div>
    <fieldset class="mb-4">
      <bc-label class="pl-px" for="password"> Password </bc-label>

      <validation-provider
        v-slot="state"
        name="Password"
        rules="min:8|required|alpha_special|min_num|min_special|min_uppercase"
      >
        <bc-input
          id="password"
          data-testid="password"
          :value="password"
          class="my-2"
          type="password"
          placeholder="Password"
          required
          :errored="state.touched && state.invalid"
          @input="$emit('password', $event)"
        />

        <div class="h-[22px]">
          <bc-hint v-if="state.touched && state.invalid" class="pl-1">
            {{ state.errors[0] }}
          </bc-hint>
        </div>
      </validation-provider>
    </fieldset>

    <fieldset class="mb-4">
      <bc-label class="pl-px" for="password_confirm">
        Confirm Password
      </bc-label>

      <validation-provider
        v-slot="state"
        rules="required|confirmed:Password"
        name="Confirm Password"
      >
        <bc-input
          id="password_confirm"
          data-testid="password_confirm"
          :value="passwordConfirm"
          class="my-2"
          type="password"
          placeholder="Confirm Password"
          required
          :errored="state.touched && state.invalid"
          @input="$emit('password_confirm', $event)"
        />

        <div class="h-[22px]">
          <bc-hint v-if="state.touched && state.invalid" class="pl-1">
            {{ state.errors[0] }}
          </bc-hint>
        </div>
      </validation-provider>
    </fieldset>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ValidationProvider } from "vee-validate";

export default Vue.extend({
  components: {
    ValidationProvider,
  },
  props: {
    password: {
      type: String,
      required: true,
    },
    passwordConfirm: {
      type: String,
      required: true,
    },
  },
});
</script>
