<template>
  <div
    class="fixed top-0 left-0 z-[1000] flex h-screen w-screen justify-center bg-slate-200/50"
  >
    <div class="sk-flow sk-center">
      <div class="sk-flow-dot"></div>
      <div class="sk-flow-dot"></div>
      <div class="sk-flow-dot"></div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "BcLoader",
});
</script>

<style>
:root {
  --sk-color: #818cf8;
  --sk-size: 70px;
}
</style>
