<template>
  <fieldset class="mt-4">
    <bc-label class="pl-px" for="email"> Email </bc-label>

    <validation-provider v-slot="state" name="Email" rules="required|email">
      <bc-input
        id="email"
        data-testid="email"
        :value="value"
        class="my-2"
        type="email"
        placeholder="Email"
        required
        :errored="state.touched && state.invalid"
        @input="$emit('input', $event)"
      />

      <div class="h-[22px]">
        <bc-hint v-if="state.touched && state.invalid" class="pl-1">
          {{ state.errors[0] }}
        </bc-hint>
      </div>
    </validation-provider>
  </fieldset>
</template>

<script lang="ts">
import Vue from "vue";
import { ValidationProvider } from "vee-validate";

export default Vue.extend({
  components: {
    ValidationProvider,
  },
  props: {
    value: {
      type: String,
      required: true,
    },
  },
});
</script>
