<template>
  <div class="flex h-full w-full justify-center p-6">
    <div class="w-4/12">
      <bc-alert v-if="request.isError" type="error">
        Invalid two-factor authentication code.
      </bc-alert>

      <ValidationObserver v-slot="{ invalid, reset }">
        <form
          @submit.prevent="
            onSubmit(code);
            reset();
          "
        >
          <fieldset class="my-4">
            <bc-label class="pl-px" for="code">
              Two-factor authentication code
            </bc-label>

            <validation-provider
              v-slot="state"
              name="Code"
              rules="required|digits:6"
            >
              <bc-input
                id="code"
                v-model="code"
                data-testid="code"
                class="my-2"
                required
                minlength="6"
                maxlength="6"
                :errored="state.touched && state.invalid"
              />

              <div class="h-[22px]">
                <bc-hint v-if="state.touched && state.invalid" class="pl-1">
                  {{ state.errors[0] }}
                </bc-hint>
              </div>
            </validation-provider>

            <p>
              Enter your two-factor code, or if you've lost access to your
              authenicator app, you may enter one of your recovery codes.
            </p>
          </fieldset>

          <div class="flex flex-row-reverse">
            <bc-button
              data-testid="submit"
              :outline="invalid || request.isLoading"
              :disabled="invalid || request.isLoading"
              class="mb-4 flex-auto md:mb-0 lg:flex-initial"
              type="submit"
            >
              Submit
            </bc-button>
          </div>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from "vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";

import type { LoginForm } from "~/types/auth";

export default Vue.extend({
  name: "MfaLoginForm",
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  props: {
    data: {
      type: Object,
      required: true,
    } as PropOptions<LoginForm>,
  },
  data: () => ({
    code: "",
    request: {
      error: {} as any,
      isError: false,
      isLoading: false,
    },
  }),
  methods: {
    async onSubmit(code: string) {
      try {
        this.request.isError = false;
        this.request.isLoading = true;
        this.$wait.start("processing code");
        const res = await this.$axios.post("/check_totp", {
          ...this.data,
          code,
        });

        const { access_token: accessToken, refresh_token: refreshToken } =
          res.data.ok;
        this.$auth.setUserToken(accessToken, refreshToken);
      } catch (e: any) {
        this.request.error = e;
        this.request.isError = true;
      } finally {
        this.$wait.end("processing code");
      }
      this.request.isLoading = false;
    },
  },
});
</script>
